@import 'variable';
@import 'common';
@import 'navbar';

.navbar-brand{
  color: $infoColor;
  font-weight: bold;
}

.container{
  width: 700px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid $borderColor;
  background: white;
  .container-header{
    height: 30px;
    border-bottom: 1px solid $borderColor;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .container-body{
    .type-id{
      transform: scale(2);
    }
    .fa{
      margin-bottom: 10px;
    }
  }
  .logo-container{
    text-align: center;
  }
}
